In [1]:
import pandas as pd
import numpy as np

# Membaca file CSV dengan data teman SMA
data_teman = pd.read_csv('nama_teman_SMA.csv')

# Menampilkan data awal
print("Data Awal:")
print(data_teman.head())

Data Awal:
        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0    Almegia      P      2024           164                15          Tondon
1      Alpha      L      2024           165                90          Sirope
2    Agrival      L      2024           167                20        Mendetek
3   Archiles      L      2024           162                60            Gowa
4  Anastasya      P      2024           165                30         Mamullu

In [2]:
# Subset Data: Memilih data dengan Tinggi Badan > 160
subset_teman = data_teman[data_teman['Tinggi Badan'] > 160]
print("\nSubset Data dengan Tinggi Badan > 160:")
print(subset_teman)

Subset Data dengan Tinggi Badan > 160:
         Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0     Almegia      P      2024           164                15          Tondon
1       Alpha      L      2024           165                90          Sirope
2     Agrival      L      2024           167                20        Mendetek
3    Archiles      L      2024           162                60            Gowa
4   Anastasya      P      2024           165                30         Mamullu
5       Denny      L      2024           168                40        Sangalla
6     Devanes      L      2024           168                30          Burake
8       yulma      P      2024           165                15          Tondon
9       Rindi      P      2024           167                40        Sangalla
10      Caren      P      2024           162                70        Mendetek
12      Ebing      L      2024           166                20        Mendetek
13       Gibs      L      2024           168                40        Sangalla
15       Juan      L      2024           166                15          Tondon
16      Kevin      L      2024           170                15          Tondon
17     Rafael      L      2024           166                70        Mendetek
19      Shane      L      2024           170                25          Ariang
20      Welly      L      2024           166                30         Mamullu
21       Widi      L      2024           200                40        Sangalla
22      Hanan      L      2024           165                20         Jakarta
23      Tegar      L      2024           167                40        Bittuang
25      Zidan      L      2024           162                30      Pentalluan
26     Marvel      L      2024           170                20         Jakarta
27       Tito      L      2024           170                30      Pentalluan
28      Josua      L      2024           168                20         Jakarta
29      Fatir      L      2024           169                40        Bittuang
30      Damar      L      2024           167                30      Pentalluan
31      Rafli      L      2024           165                30      Pentalluan

In [3]:
# Mengubah nilai dalam kolom Tinggi Badan
subset_teman['Tinggi Badan'] = subset_teman['Tinggi Badan'].apply(lambda x: 'Tinggi' if x > 160 else 'Pendek')
print("\nData setelah perubahan kolom Tinggi Badan:")
print(subset_teman)

Data setelah perubahan kolom Tinggi Badan:
         Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0     Almegia      P      2024       Tinggi                15          Tondon
1       Alpha      L      2024       Tinggi                90          Sirope
2     Agrival      L      2024       Tinggi                20        Mendetek
3    Archiles      L      2024       Tinggi                60            Gowa
4   Anastasya      P      2024       Tinggi                30         Mamullu
5       Denny      L      2024       Tinggi                40        Sangalla
6     Devanes      L      2024       Tinggi                30          Burake
8       yulma      P      2024       Tinggi                15          Tondon
9       Rindi      P      2024       Tinggi                40        Sangalla
10      Caren      P      2024       Tinggi                70        Mendetek
12      Ebing      L      2024       Tinggi                20        Mendetek
13       Gibs      L      2024       Tinggi                40        Sangalla
15       Juan      L      2024       Tinggi                15          Tondon
16      Kevin      L      2024       Tinggi                15          Tondon
17     Rafael      L      2024       Tinggi                70        Mendetek
19      Shane      L      2024       Tinggi                25          Ariang
20      Welly      L      2024       Tinggi                30         Mamullu
21       Widi      L      2024       Tinggi                40        Sangalla
22      Hanan      L      2024       Tinggi                20         Jakarta
23      Tegar      L      2024       Tinggi                40        Bittuang
25      Zidan      L      2024       Tinggi                30      Pentalluan
26     Marvel      L      2024       Tinggi                20         Jakarta
27       Tito      L      2024       Tinggi                30      Pentalluan
28      Josua      L      2024       Tinggi                20         Jakarta
29      Fatir      L      2024       Tinggi                40        Bittuang
30      Damar      L      2024       Tinggi                30      Pentalluan
31      Rafli      L      2024       Tinggi                30      Pentalluan

C:\Users\wudla\AppData\Local\Temp\ipykernel_8888\4141589238.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_teman['Tinggi Badan'] = subset_teman['Tinggi Badan'].apply(lambda x: 'Tinggi' if x > 160 else 'Pendek')

In [4]:
# Menambah variabel baru
subset_teman['Jurusan'] = 'Infor20'
subset_teman['Fakultas'] = 'FTI'
print("\nData setelah menambah variabel baru:")
print(subset_teman)

Data setelah menambah variabel baru:
         Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Almegia      P      2024       Tinggi                15          Tondon
1       Alpha      L      2024       Tinggi                90          Sirope
2     Agrival      L      2024       Tinggi                20        Mendetek
3    Archiles      L      2024       Tinggi                60            Gowa
4   Anastasya      P      2024       Tinggi                30         Mamullu
5       Denny      L      2024       Tinggi                40        Sangalla
6     Devanes      L      2024       Tinggi                30          Burake
8       yulma      P      2024       Tinggi                15          Tondon
9       Rindi      P      2024       Tinggi                40        Sangalla
10      Caren      P      2024       Tinggi                70        Mendetek
12      Ebing      L      2024       Tinggi                20        Mendetek
13       Gibs      L      2024       Tinggi                40        Sangalla
15       Juan      L      2024       Tinggi                15          Tondon
16      Kevin      L      2024       Tinggi                15          Tondon
17     Rafael      L      2024       Tinggi                70        Mendetek
19      Shane      L      2024       Tinggi                25          Ariang
20      Welly      L      2024       Tinggi                30         Mamullu
21       Widi      L      2024       Tinggi                40        Sangalla
22      Hanan      L      2024       Tinggi                20         Jakarta
23      Tegar      L      2024       Tinggi                40        Bittuang
25      Zidan      L      2024       Tinggi                30      Pentalluan
26     Marvel      L      2024       Tinggi                20         Jakarta
27       Tito      L      2024       Tinggi                30      Pentalluan
28      Josua      L      2024       Tinggi                20         Jakarta
29      Fatir      L      2024       Tinggi                40        Bittuang
30      Damar      L      2024       Tinggi                30      Pentalluan
31      Rafli      L      2024       Tinggi                30      Pentalluan

    Jurusan Fakultas
0   Infor20      FTI
1   Infor20      FTI
2   Infor20      FTI
3   Infor20      FTI
4   Infor20      FTI
5   Infor20      FTI
6   Infor20      FTI
8   Infor20      FTI
9   Infor20      FTI
10  Infor20      FTI
12  Infor20      FTI
13  Infor20      FTI
15  Infor20      FTI
16  Infor20      FTI
17  Infor20      FTI
19  Infor20      FTI
20  Infor20      FTI
21  Infor20      FTI
22  Infor20      FTI
23  Infor20      FTI
25  Infor20      FTI
26  Infor20      FTI
27  Infor20      FTI
28  Infor20      FTI
29  Infor20      FTI
30  Infor20      FTI
31  Infor20      FTI

C:\Users\wudla\AppData\Local\Temp\ipykernel_8888\2205270554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_teman['Jurusan'] = 'Infor20'
C:\Users\wudla\AppData\Local\Temp\ipykernel_8888\2205270554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_teman['Fakultas'] = 'FTI'

In [5]:

# Menghapus kolom Fakultas
subset_teman = subset_teman.drop(columns=['Fakultas'])
print("\nData setelah menghapus kolom Fakultas:")
print(subset_teman)

Data setelah menghapus kolom Fakultas:
         Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Almegia      P      2024       Tinggi                15          Tondon
1       Alpha      L      2024       Tinggi                90          Sirope
2     Agrival      L      2024       Tinggi                20        Mendetek
3    Archiles      L      2024       Tinggi                60            Gowa
4   Anastasya      P      2024       Tinggi                30         Mamullu
5       Denny      L      2024       Tinggi                40        Sangalla
6     Devanes      L      2024       Tinggi                30          Burake
8       yulma      P      2024       Tinggi                15          Tondon
9       Rindi      P      2024       Tinggi                40        Sangalla
10      Caren      P      2024       Tinggi                70        Mendetek
12      Ebing      L      2024       Tinggi                20        Mendetek
13       Gibs      L      2024       Tinggi                40        Sangalla
15       Juan      L      2024       Tinggi                15          Tondon
16      Kevin      L      2024       Tinggi                15          Tondon
17     Rafael      L      2024       Tinggi                70        Mendetek
19      Shane      L      2024       Tinggi                25          Ariang
20      Welly      L      2024       Tinggi                30         Mamullu
21       Widi      L      2024       Tinggi                40        Sangalla
22      Hanan      L      2024       Tinggi                20         Jakarta
23      Tegar      L      2024       Tinggi                40        Bittuang
25      Zidan      L      2024       Tinggi                30      Pentalluan
26     Marvel      L      2024       Tinggi                20         Jakarta
27       Tito      L      2024       Tinggi                30      Pentalluan
28      Josua      L      2024       Tinggi                20         Jakarta
29      Fatir      L      2024       Tinggi                40        Bittuang
30      Damar      L      2024       Tinggi                30      Pentalluan
31      Rafli      L      2024       Tinggi                30      Pentalluan

    Jurusan
0   Infor20
1   Infor20
2   Infor20
3   Infor20
4   Infor20
5   Infor20
6   Infor20
8   Infor20
9   Infor20
10  Infor20
12  Infor20
13  Infor20
15  Infor20
16  Infor20
17  Infor20
19  Infor20
20  Infor20
21  Infor20
22  Infor20
23  Infor20
25  Infor20
26  Infor20
27  Infor20
28  Infor20
29  Infor20
30  Infor20
31  Infor20

In [6]:
# Merge Kolom: Menggabungkan kolom Nama dan Gender
kolom_nama_gender = data_teman[['Nama', 'Gender']]
kolom_angkatan_tinggi = data_teman[['Angkatan', 'Tinggi Badan']]
gabungan_kolom = pd.concat([kolom_nama_gender, kolom_angkatan_tinggi], axis=1)
print("\nData setelah merge kolom:")
print(gabungan_kolom)

Data setelah merge kolom:
         Nama Gender  Angkatan  Tinggi Badan
0     Almegia      P      2024           164
1       Alpha      L      2024           165
2     Agrival      L      2024           167
3    Archiles      L      2024           162
4   Anastasya      P      2024           165
5       Denny      L      2024           168
6     Devanes      L      2024           168
7         Evy      P      2024           155
8       yulma      P      2024           165
9       Rindi      P      2024           167
10      Caren      P      2024           162
11        Eka      P      2024           150
12      Ebing      L      2024           166
13       Gibs      L      2024           168
14     Ifandi      L      2024           160
15       Juan      L      2024           166
16      Kevin      L      2024           170
17     Rafael      L      2024           166
18      Restu      L      2024           160
19      Shane      L      2024           170
20      Welly      L      2024           166
21       Widi      L      2024           200
22      Hanan      L      2024           165
23      Tegar      L      2024           167
24      Hilal      L      2024           160
25      Zidan      L      2024           162
26     Marvel      L      2024           170
27       Tito      L      2024           170
28      Josua      L      2024           168
29      Fatir      L      2024           169
30      Damar      L      2024           167
31      Rafli      L      2024           165

In [7]:
# Merge Baris: Menggabungkan baris 1-5 dan 25-30
baris1sd5 = data_teman.iloc[0:5, :]
baris25sd30 = data_teman.iloc[24:30, :]
baris_merged = pd.concat([baris1sd5, baris25sd30])
print("\nData setelah merge baris:")
print(baris_merged)

Data setelah merge baris:
         Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0     Almegia      P      2024           164                15          Tondon
1       Alpha      L      2024           165                90          Sirope
2     Agrival      L      2024           167                20        Mendetek
3    Archiles      L      2024           162                60            Gowa
4   Anastasya      P      2024           165                30         Mamullu
24      Hilal      L      2024           160                40        Bittuang
25      Zidan      L      2024           162                30      Pentalluan
26     Marvel      L      2024           170                20         Jakarta
27       Tito      L      2024           170                30      Pentalluan
28      Josua      L      2024           168                20         Jakarta
29      Fatir      L      2024           169                40        Bittuang

In [8]:
# Sorting data berdasarkan Waktu Perjalanan
data_teman_sort = data_teman.sort_values(by='Waktu Perjalanan')
print("\nData setelah sorting berdasarkan Waktu Perjalanan:")
print(data_teman_sort)

Data setelah sorting berdasarkan Waktu Perjalanan:
         Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0     Almegia      P      2024           164                15          Tondon
16      Kevin      L      2024           170                15          Tondon
8       yulma      P      2024           165                15          Tondon
15       Juan      L      2024           166                15          Tondon
28      Josua      L      2024           168                20         Jakarta
2     Agrival      L      2024           167                20        Mendetek
26     Marvel      L      2024           170                20         Jakarta
22      Hanan      L      2024           165                20         Jakarta
12      Ebing      L      2024           166                20        Mendetek
7         Evy      P      2024           155                25          Ariang
14     Ifandi      L      2024           160                25          Ariang
19      Shane      L      2024           170                25          Ariang
4   Anastasya      P      2024           165                30         Mamullu
27       Tito      L      2024           170                30      Pentalluan
25      Zidan      L      2024           162                30      Pentalluan
20      Welly      L      2024           166                30         Mamullu
31      Rafli      L      2024           165                30      Pentalluan
30      Damar      L      2024           167                30      Pentalluan
11        Eka      P      2024           150                30         Mamullu
6     Devanes      L      2024           168                30          Burake
18      Restu      L      2024           160                40        Sangalla
13       Gibs      L      2024           168                40        Sangalla
21       Widi      L      2024           200                40        Sangalla
23      Tegar      L      2024           167                40        Bittuang
24      Hilal      L      2024           160                40        Bittuang
9       Rindi      P      2024           167                40        Sangalla
5       Denny      L      2024           168                40        Sangalla
29      Fatir      L      2024           169                40        Bittuang
3    Archiles      L      2024           162                60            Gowa
10      Caren      P      2024           162                70        Mendetek
17     Rafael      L      2024           166                70        Mendetek
1       Alpha      L      2024           165                90          Sirope